# This work involves analysis and visualization with all regions Viet nam  climate. Making API requests to OpenWeatherMap's historical weather data API

In [ ]:
import requests, json
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import ast
import datetime as dt

We need to filter all the samples from country VietNam from this json file.(The json contain Geographical IDs,for which we  make request api to query the data)

In [ ]:
df = pd.read_json("city_list.json")
df

,id,name,state,country,coord
0,833,Ḩeşār-e Sefīd,,IR,"{'lon': 47.159401, 'lat': 34.330502}"
1,2960,‘Ayn Ḩalāqīm,,SY,"{'lon': 36.321911, 'lat': 34.940079}"
2,3245,Taglag,,IR,"{'lon': 44.98333, 'lat': 38.450001}"
3,3530,Qabāghlū,,IR,"{'lon': 46.168499, 'lat': 36.173302}"
4,5174,‘Arīqah,,SY,"{'lon': 36.48336, 'lat': 32.889809}"
...,...,...,...,...,...
209574,8261417,Recoleta,,CL,"{'lon': -70.636383, 'lat': -33.40881}"
209575,8277210,Beldibi,,TR,"{'lon': 30.707411, 'lat': 40.592731}"
209576,10722858,Forsytheganj,,BY,"{'lon': 29.733333000000002, 'lat': 52.633333}"
209577,71296900,Голубинка,,UA,"{'lon': 33.92, 'lat': 44.59}"
209578,102908597,Gerton,,US,"{'lon': -82.348056, 'lat': 35.479167}"

In [ ]:
df = df.loc[df['country'] == 'VN']

In [ ]:
df.name.unique()

array(['Tỉnh Nghệ An', 'Tỉnh Ninh Bình', 'Tỉnh Ninh Thuận',
       'Tỉnh Sóc Trăng', 'Tỉnh Trà Vinh', 'Tỉnh Tuyên Quang',
       'Tỉnh Vĩnh Long', 'Tỉnh Yên Bái', 'Yen Vinh', 'Yen Bai',
       'Xóm Yân Lạc Hâu', 'Xóm Pho', 'Tỉnh Lào Cai', 'Vung Tau',
       'Vinh Yen', 'Vinh Long', 'Vinh', 'Viet Tri',
       'Socialist Republic of Vietnam', 'Uong Bi', 'Tuy Hoa',
       'Tuyen Quang', 'Tra Vinh', 'Tỉnh Tiền Giang', 'Thu Dau Mot',
       'Tỉnh Thừa Thiên-Huế', 'Tỉnh Kon Tum', 'Thông Tây Hội',
       'Thôn Ðiền Hạ', 'Thôn Chiết Bi Ha', 'Huyen Thanh Son',
       'Thanh pho Ho Chi Minh', 'Tỉnh Thanh Hóa', 'Thanh Hoa',
       'Thai Nguyen', 'Tỉnh Thái Bình', 'Thai Binh', 'Tỉnh Tây Ninh',
       'Tay Ninh', 'Tan An', 'Tam Ky', 'Son Tay', 'Tỉnh Sơn La',
       'Huyen Son Duong', 'Son La', 'Song Cau', 'Soc Trang', 'Sa Pa',
       'Sa Dec', 'Rach Gia', 'Quy Nhon', 'Tỉnh Quảng Trị', 'Quảng Trị',
       'Tỉnh Quảng Ninh', 'Tỉnh Quảng Ngãi', 'Quang Ngai',
       'Tỉnh Quảng Bình', 'Pleiku', 'Tỉnh Phú Yên', 'Thi xa Phu Tho',
       'Duong GJong', 'Phu Ly', 'Phu Khuong', 'Phu Hưu', 'Phong Tho',
       'Phan Thiet', 'Phan Rang-Thap Cham', 'Ninh Binh', 'Nha Trang',
       'Ngô Châu', 'Tỉnh Hòa Bình', 'Nam Dinh', 'My Tho', 'Long Xuyen',
       'Tỉnh Long An', 'Lộc Ninh', 'Lao Cai', 'Tỉnh Lạng Sơn', 'Lang Son',
       'Tỉnh Lâm Ðồng', 'Lagi', 'Kon Tum', 'Tỉnh Kiến Giang',
       'Tỉnh Khánh Hòa', 'Hung Yen', 'Hue', 'Ha Long', 'Hoi An',
       'Thành phố Hồ Chí Minh', 'Tỉnh Hà Tĩnh', 'Hoa Binh', 'Tỉnh Hà Tây',
       'Hậu Dương', 'Tỉnh Hà Giang', 'Ha Tinh', 'Ha Tien', 'Tỉnh Gia Lai',
       'Thủ Ðô Hà Nội', 'Ha Noi', 'Tỉnh Cần Thơ', 'Thành Phố Hải Phòng',
       'Haiphong', 'Hai Ha', 'Hai Duong', 'Ha Giang', 'Ha Dong',
       'Tỉnh Bình Thuận', 'Dong Xoai', 'Tỉnh Ðồng Tháp', 'Tỉnh Ðồng Nai',
       'Dong Hoi', 'Dong Ha', 'Huyen Doan Hung', 'Dien Bien Phu', 'Turan',
       'Da Lat', 'Tỉnh Ðắc Lắk', 'Tỉnh Bà Rịa-Vũng Tàu', 'Cu Chi',
       'Con Son', 'Chau Doc', 'Cao Lanh', 'Tỉnh Cao Bằng', 'Cao Bang',
       'Can Tho', 'Can Gio', 'Can Duoc', 'Cam Ranh', 'Cam Pha Mines',
       'Ca Mau', 'Buon Ma Thuot', 'Tỉnh Bình Ðịnh', 'Bim Son', 'Bien Hoa',
       'Tỉnh Bến Tre', 'Ben Tre', 'Bac Ninh', 'Thanh pho Bac Lieu',
       'Bac Giang', 'Bac Kan', 'Ấp Vạn Tự Tây', 'Ấp Ba', 'Tỉnh An Giang',
       'Bến Ðình', 'Huyện Ðiện Biên', 'Tỉnh Bắc Ninh', 'Tỉnh Bắc Giang',
       'Tỉnh Ðà Nẵng', 'Tỉnh Bình Dương', 'Tỉnh Bình Phước',
       'Tỉnh Thái Nguyên', 'Tỉnh Quảng Nam', 'Tỉnh Phú Thọ',
       'Tỉnh Nam Ðịnh', 'Tỉnh Hà Nam', 'Tỉnh Bắc Kạn', 'Tỉnh Bạc Liêu',
       'Tỉnh Cà Mau', 'Tỉnh Hải Dương', 'Tỉnh Hưng Yên', 'Tỉnh Vĩnh Phúc',
       'Uyen Hung', 'Huyen Yen Lap', 'Huyen Thanh Hoa', 'Huyen Song Thao',
       'Huyen Tam Thanh', 'Huyen Phong Chau', 'Huyen Ba Vi'], dtype=object)

In [ ]:
data_grouped = pd.DataFrame()

In [ ]:
df

,id,name,state,country,coord
31967,1559969,Tỉnh Nghệ An,,VN,"{'lon': 104.833328, 'lat': 19.33333}"
31968,1559970,Tỉnh Ninh Bình,,VN,"{'lon': 105.833328, 'lat': 20.25}"
31969,1559971,Tỉnh Ninh Thuận,,VN,"{'lon': 108.833328, 'lat': 11.75}"
31970,1559972,Tỉnh Sóc Trăng,,VN,"{'lon': 105.833328, 'lat': 9.66667}"
31971,1559975,Tỉnh Trà Vinh,,VN,"{'lon': 106.25, 'lat': 9.83333}"
...,...,...,...,...,...
209518,8200205,Huyen Thanh Hoa,,VN,"{'lon': 105.145348, 'lat': 21.495831}"
209519,8200212,Huyen Song Thao,,VN,"{'lon': 105.139473, 'lat': 21.420799}"
209521,8200783,Huyen Tam Thanh,,VN,"{'lon': 105.297752, 'lat': 21.25564}"
209522,8200836,Huyen Phong Chau,,VN,"{'lon': 105.293137, 'lat': 21.43498}"
209523,8201616,Huyen Ba Vi,,VN,"{'lon': 105.430183, 'lat': 21.1999}"

  Initilize Time range for collecting data

In [ ]:
now = int(time.time())
lw = now - 604800
id_ = df.id.unique()

This code execute querying data by api with timerange and _id region encrypted and merge the data recieved with the prefiltered dataframe VietNam

In [ ]:
id_ = df.id.unique()
for id__ in id_:
    coord_ = pd.DataFrame(df.loc[df['id'] == id__]['coord'])
    province_ = pd.DataFrame(df.loc[df['id'] == id__]['name'])
    coord_data = coord_.reset_index()
    province_data = province_.reset_index()
    data = requests.get("https://history.openweathermap.org/data/2.5/history/city?id="+str(id__)+"&type=hour&start="+str(lw)+"&end="+str(now)+"&units=metric&appid=36de67b0831e2d23f5e496827c24592f")
    data = json.loads(data.content)
    data = pd.DataFrame(data['list'])
    data['id'] = id__
    data.loc[:,'coord'] = np.repeat([coord_data['coord'][0]],data.shape[0])
    data['province'] = np.repeat([province_data['name'][0]],data.shape[0])
    data_grouped = pd.concat([data, data_grouped])

In [ ]:
data_grouped

,dt,main,wind,clouds,weather,id,coord,province,rain
0,1669622400,"{'temp': 32.21, 'feels_like': 36.66, 'pressure...","{'speed': 2.38, 'deg': 110, 'gust': 3.13}",{'all': 22},"[{'id': 801, 'main': 'Clouds', 'description': ...",8201616,"{'lon': 105.430183, 'lat': 21.1999}",Huyen Ba Vi,NaN
1,1669626000,"{'temp': 32.01, 'feels_like': 36.8, 'pressure'...","{'speed': 2.64, 'deg': 111, 'gust': 3.92}",{'all': 20},"[{'id': 801, 'main': 'Clouds', 'description': ...",8201616,"{'lon': 105.430183, 'lat': 21.1999}",Huyen Ba Vi,NaN
2,1669629600,"{'temp': 30.01, 'feels_like': 34.35, 'pressure...","{'speed': 2.69, 'deg': 119, 'gust': 4.3}",{'all': 19},"[{'id': 801, 'main': 'Clouds', 'description': ...",8201616,"{'lon': 105.430183, 'lat': 21.1999}",Huyen Ba Vi,NaN
3,1669633200,"{'temp': 29.01, 'feels_like': 32.75, 'pressure...","{'speed': 4.66, 'deg': 131, 'gust': 8.9}",{'all': 21},"[{'id': 801, 'main': 'Clouds', 'description': ...",8201616,"{'lon': 105.430183, 'lat': 21.1999}",Huyen Ba Vi,NaN
4,1669636800,"{'temp': 28.01, 'feels_like': 31.52, 'pressure...","{'speed': 4.54, 'deg': 127, 'gust': 8.18}",{'all': 18},"[{'id': 801, 'main': 'Clouds', 'description': ...",8201616,"{'lon': 105.430183, 'lat': 21.1999}",Huyen Ba Vi,NaN
...,...,...,...,...,...,...,...,...,...
163,1670209200,"{'temp': 15.61, 'feels_like': 15.79, 'pressure...","{'speed': 1.13, 'deg': 118, 'gust': 2.19}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
164,1670212800,"{'temp': 15.17, 'feels_like': 15.3, 'pressure'...","{'speed': 1.11, 'deg': 117, 'gust': 2.2}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
165,1670216400,"{'temp': 14.86, 'feels_like': 14.96, 'pressure...","{'speed': 1.09, 'deg': 114, 'gust': 2.1}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
166,1670220000,"{'temp': 14.58, 'feels_like': 14.65, 'pressure...","{'speed': 0.94, 'deg': 118, 'gust': 1.85}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
167,1670223600,"{'temp': 14.4, 'feels_like': 14.43, 'pressure'...","{'speed': 0.89, 'deg': 124, 'gust': 1.67}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN

In [ ]:
data_grouped.to_csv('data_final.csv')

In [ ]:
data_new = pd.read_csv('data_final.csv')

So this is the merged dataframe we just made, some columns have diction format, the time feature is  in unix time format. We need to reorganize the dataframe to an more simple format.

In [ ]:
data_new

,Unnamed: 0,dt,main,wind,clouds,weather,id,coord,province,rain
1176,0,1669622400,"{'temp': 32.03, 'feels_like': 36.26, 'pressure...","{'speed': 2.23, 'deg': 147, 'gust': 3.48}",{'all': 28},"[{'id': 802, 'main': 'Clouds', 'description': ...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1177,1,1669626000,"{'temp': 31.97, 'feels_like': 36.42, 'pressure...","{'speed': 2.71, 'deg': 135, 'gust': 4.09}",{'all': 27},"[{'id': 802, 'main': 'Clouds', 'description': ...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1178,2,1669629600,"{'temp': 29.97, 'feels_like': 34.04, 'pressure...","{'speed': 3.34, 'deg': 128, 'gust': 5.31}",{'all': 26},"[{'id': 802, 'main': 'Clouds', 'description': ...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1179,3,1669633200,"{'temp': 28.97, 'feels_like': 32.66, 'pressure...","{'speed': 5.27, 'deg': 133, 'gust': 9.38}",{'all': 25},"[{'id': 802, 'main': 'Clouds', 'description': ...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1180,4,1669636800,"{'temp': 27.97, 'feels_like': 31.29, 'pressure...","{'speed': 5.05, 'deg': 130, 'gust': 9.63}",{'all': 22},"[{'id': 801, 'main': 'Clouds', 'description': ...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
...,...,...,...,...,...,...,...,...,...,...
28219,163,1670209200,"{'temp': 15.61, 'feels_like': 15.79, 'pressure...","{'speed': 1.13, 'deg': 118, 'gust': 2.19}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28220,164,1670212800,"{'temp': 15.17, 'feels_like': 15.3, 'pressure'...","{'speed': 1.11, 'deg': 117, 'gust': 2.2}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28221,165,1670216400,"{'temp': 14.86, 'feels_like': 14.96, 'pressure...","{'speed': 1.09, 'deg': 114, 'gust': 2.1}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28222,166,1670220000,"{'temp': 14.58, 'feels_like': 14.65, 'pressure...","{'speed': 0.94, 'deg': 118, 'gust': 1.85}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28223,167,1670223600,"{'temp': 14.4, 'feels_like': 14.43, 'pressure'...","{'speed': 0.89, 'deg': 124, 'gust': 1.67}",{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN

In [ ]:
data_new.province.unique()

array(['Tỉnh Vĩnh Phúc', 'Tỉnh Hưng Yên', 'Tỉnh Hải Dương', 'Tỉnh Cà Mau',
       'Tỉnh Bạc Liêu', 'Tỉnh Bắc Kạn', 'Tỉnh Hà Nam', 'Tỉnh Nam Ðịnh',
       'Tỉnh Phú Thọ', 'Tỉnh Quảng Nam', 'Tỉnh Thái Nguyên',
       'Tỉnh Bình Phước', 'Tỉnh Bình Dương', 'Tỉnh Ðà Nẵng',
       'Tỉnh Bắc Giang', 'Tỉnh Bắc Ninh', 'Tỉnh An Giang', 'Tỉnh Bến Tre',
       'Tỉnh Bình Ðịnh', 'Tỉnh Cao Bằng', 'Tỉnh Bà Rịa-Vũng Tàu',
       'Tỉnh Ðắc Lắk', 'Dien Bien Phu', 'Tỉnh Ðồng Nai', 'Tỉnh Ðồng Tháp',
       'Tỉnh Bình Thuận', 'Thành Phố Hải Phòng', 'Tỉnh Cần Thơ',
       'Thủ Ðô Hà Nội', 'Tỉnh Gia Lai', 'Tỉnh Hà Giang', 'Tỉnh Hà Tây',
       'Tỉnh Hà Tĩnh', 'Thành phố Hồ Chí Minh', 'Tỉnh Khánh Hòa',
       'Tỉnh Kiến Giang', 'Tỉnh Lâm Ðồng', 'Tỉnh Lạng Sơn', 'Lao Cai',
       'Tỉnh Long An', 'Tỉnh Hòa Bình', 'Tỉnh Phú Yên', 'Tỉnh Quảng Bình',
       'Tỉnh Quảng Ngãi', 'Tỉnh Quảng Ninh', 'Tỉnh Quảng Trị',
       'Tỉnh Sơn La', 'Tay Ninh', 'Tỉnh Tây Ninh', 'Tỉnh Thái Bình',
       'Tỉnh Thanh Hóa', 'Tỉnh Kon Tum', 'Tỉnh Thừa Thiên-Huế',
       'Tỉnh Tiền Giang', 'Socialist Republic of Vietnam', 'Tỉnh Lào Cai',
       'Tỉnh Yên Bái', 'Tỉnh Vĩnh Long', 'Tỉnh Tuyên Quang',
       'Tỉnh Trà Vinh', 'Tỉnh Sóc Trăng', 'Tỉnh Ninh Thuận',
       'Tỉnh Ninh Bình', 'Tỉnh Nghệ An'], dtype=object)

Notice the type of the weather main coord columns , they are string types, so we convert it into dict type , for easy processing

In [ ]:
data_new['weather']=data_new.weather.map(lambda value:  ast.literal_eval(value))

data_new['main'] = data_new.main.map(lambda value:  ast.literal_eval(value))
data_new['coord']=data_new.coord.map(lambda value:  ast.literal_eval(value))

In [ ]:
data_new['wind']=data_new.wind.map(lambda value:  ast.literal_eval(value))

In [ ]:
data_new['clouds']=data_new.clouds.map(lambda value:  ast.literal_eval(value))

In [ ]:
data_new = data_new.explode('weather')

In [ ]:
data_new

,Unnamed: 0,dt,main,wind,clouds,weather,id,coord,province,rain
1176,0,1669622400,"{'temp': 32.03, 'feels_like': 36.26, 'pressure...","{'speed': 2.23, 'deg': 147, 'gust': 3.48}",{'all': 28},"{'id': 802, 'main': 'Clouds', 'description': '...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1177,1,1669626000,"{'temp': 31.97, 'feels_like': 36.42, 'pressure...","{'speed': 2.71, 'deg': 135, 'gust': 4.09}",{'all': 27},"{'id': 802, 'main': 'Clouds', 'description': '...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1178,2,1669629600,"{'temp': 29.97, 'feels_like': 34.04, 'pressure...","{'speed': 3.34, 'deg': 128, 'gust': 5.31}",{'all': 26},"{'id': 802, 'main': 'Clouds', 'description': '...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1179,3,1669633200,"{'temp': 28.97, 'feels_like': 32.66, 'pressure...","{'speed': 5.27, 'deg': 133, 'gust': 9.38}",{'all': 25},"{'id': 802, 'main': 'Clouds', 'description': '...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
1180,4,1669636800,"{'temp': 27.97, 'feels_like': 31.29, 'pressure...","{'speed': 5.05, 'deg': 130, 'gust': 9.63}",{'all': 22},"{'id': 801, 'main': 'Clouds', 'description': '...",1905856,"{'lon': 105.599998, 'lat': 21.299999}",Tỉnh Vĩnh Phúc,NaN
...,...,...,...,...,...,...,...,...,...,...
28219,163,1670209200,"{'temp': 15.61, 'feels_like': 15.79, 'pressure...","{'speed': 1.13, 'deg': 118, 'gust': 2.19}",{'all': 100},"{'id': 804, 'main': 'Clouds', 'description': '...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28220,164,1670212800,"{'temp': 15.17, 'feels_like': 15.3, 'pressure'...","{'speed': 1.11, 'deg': 117, 'gust': 2.2}",{'all': 100},"{'id': 804, 'main': 'Clouds', 'description': '...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28221,165,1670216400,"{'temp': 14.86, 'feels_like': 14.96, 'pressure...","{'speed': 1.09, 'deg': 114, 'gust': 2.1}",{'all': 100},"{'id': 804, 'main': 'Clouds', 'description': '...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28222,166,1670220000,"{'temp': 14.58, 'feels_like': 14.65, 'pressure...","{'speed': 0.94, 'deg': 118, 'gust': 1.85}",{'all': 100},"{'id': 804, 'main': 'Clouds', 'description': '...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN
28223,167,1670223600,"{'temp': 14.4, 'feels_like': 14.43, 'pressure'...","{'speed': 0.89, 'deg': 124, 'gust': 1.67}",{'all': 100},"{'id': 804, 'main': 'Clouds', 'description': '...",1559969,"{'lon': 104.833328, 'lat': 19.33333}",Tỉnh Nghệ An,NaN

We flatten the dict columns and convert the feature time into an good format

In [ ]:
main = pd.json_normalize(data_new['main'], max_level = 1)
wind = pd.json_normalize(data_new['wind'], max_level =1)
clouds = pd.json_normalize(data_new['clouds'], max_level =1)
weather = pd.json_normalize(data_new['weather'], max_level =1)
coord = pd.json_normalize(data_new['coord'], max_level= 1)

In [ ]:
data_new.drop(columns = ['main','wind','clouds','weather','coord'],inplace = True)

In [ ]:

data_new['dt'] = pd.to_datetime(data_new['dt'], unit='s')
data_new = data_new.set_index('dt')
data_new = data_new.tz_localize('UTC')
data_new = data_new.tz_convert('Asia/Ho_Chi_Minh')
data_new.reset_index(inplace = True)
data_new['dt']=data_new['dt'].dt.tz_localize(None)
data_new = pd.concat([data_new, main, wind, clouds, weather, coord], axis =1 )
data_new = data_new.set_index('dt')
data_new

,Unnamed: 0,id,province,rain,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,gust,all,id,main,description,icon,lon,lat
dt,,,,,,,,,,,,,,,,,,,,
2022-11-28 15:00:00,0,1905856,Tỉnh Vĩnh Phúc,NaN,32.03,36.26,1005,57,32.03,32.03,2.23,147,3.48,28,802,Clouds,scattered clouds,03d,105.599998,21.299999
2022-11-28 16:00:00,1,1905856,Tỉnh Vĩnh Phúc,NaN,31.97,36.42,1005,58,31.97,31.97,2.71,135,4.09,27,802,Clouds,scattered clouds,03d,105.599998,21.299999
2022-11-28 17:00:00,2,1905856,Tỉnh Vĩnh Phúc,NaN,29.97,34.04,1005,66,29.97,29.97,3.34,128,5.31,26,802,Clouds,scattered clouds,03d,105.599998,21.299999
2022-11-28 18:00:00,3,1905856,Tỉnh Vĩnh Phúc,NaN,28.97,32.66,1006,70,28.97,28.97,5.27,133,9.38,25,802,Clouds,scattered clouds,03n,105.599998,21.299999
2022-11-28 19:00:00,4,1905856,Tỉnh Vĩnh Phúc,NaN,27.97,31.29,1007,75,27.97,27.97,5.05,130,9.63,22,801,Clouds,few clouds,02n,105.599998,21.299999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-05 10:00:00,163,1559969,Tỉnh Nghệ An,NaN,15.61,15.79,1022,98,15.61,15.61,1.13,118,2.19,100,804,Clouds,overcast clouds,04d,104.833328,19.333330
2022-12-05 11:00:00,164,1559969,Tỉnh Nghệ An,NaN,15.17,15.30,1022,98,15.17,15.17,1.11,117,2.20,100,804,Clouds,overcast clouds,04d,104.833328,19.333330
2022-12-05 12:00:00,165,1559969,Tỉnh Nghệ An,NaN,14.86,14.96,1021,98,14.86,14.86,1.09,114,2.10,100,804,Clouds,overcast clouds,04d,104.833328,19.333330
2022-12-05 13:00:00,166,1559969,Tỉnh Nghệ An,NaN,14.58,14.65,1020,98,14.58,14.58,0.94,118,1.85,100,804,Clouds,overcast clouds,04d,104.833328,19.333330
2022-12-05 14:00:00,167,1559969,Tỉnh Nghệ An,NaN,14.40,14.43,1019,97,14.40,14.40,0.89,124,1.67,100,804,Clouds,overcast clouds,04d,104.833328,19.333330

In [ ]:
data_new.drop(columns = ['rain', 'Unnamed: 0', 'icon'], inplace = True)

In [ ]:
data_new

,id,province,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,gust,all,id,main,description,lon,lat
dt,,,,,,,,,,,,,,,,,
2022-11-28 15:00:00,1905856,Tỉnh Vĩnh Phúc,32.03,36.26,1005,57,32.03,32.03,2.23,147,3.48,28,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 16:00:00,1905856,Tỉnh Vĩnh Phúc,31.97,36.42,1005,58,31.97,31.97,2.71,135,4.09,27,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 17:00:00,1905856,Tỉnh Vĩnh Phúc,29.97,34.04,1005,66,29.97,29.97,3.34,128,5.31,26,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 18:00:00,1905856,Tỉnh Vĩnh Phúc,28.97,32.66,1006,70,28.97,28.97,5.27,133,9.38,25,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 19:00:00,1905856,Tỉnh Vĩnh Phúc,27.97,31.29,1007,75,27.97,27.97,5.05,130,9.63,22,801,Clouds,few clouds,105.599998,21.299999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-05 10:00:00,1559969,Tỉnh Nghệ An,15.61,15.79,1022,98,15.61,15.61,1.13,118,2.19,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 11:00:00,1559969,Tỉnh Nghệ An,15.17,15.30,1022,98,15.17,15.17,1.11,117,2.20,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 12:00:00,1559969,Tỉnh Nghệ An,14.86,14.96,1021,98,14.86,14.86,1.09,114,2.10,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 13:00:00,1559969,Tỉnh Nghệ An,14.58,14.65,1020,98,14.58,14.58,0.94,118,1.85,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 14:00:00,1559969,Tỉnh Nghệ An,14.40,14.43,1019,97,14.40,14.40,0.89,124,1.67,100,804,Clouds,overcast clouds,104.833328,19.333330

In [ ]:
data_new.to_excel('visualization.xlsx')

There we go, we gonna use tableau for analysis and visualization with this dataframe

In [ ]:
data_new

,id,province,temp,feels_like,pressure,humidity,temp_min,temp_max,speed,deg,gust,all,id,main,description,lon,lat
dt,,,,,,,,,,,,,,,,,
2022-11-28 15:00:00,1905856,Tỉnh Vĩnh Phúc,32.03,36.26,1005,57,32.03,32.03,2.23,147,3.48,28,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 16:00:00,1905856,Tỉnh Vĩnh Phúc,31.97,36.42,1005,58,31.97,31.97,2.71,135,4.09,27,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 17:00:00,1905856,Tỉnh Vĩnh Phúc,29.97,34.04,1005,66,29.97,29.97,3.34,128,5.31,26,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 18:00:00,1905856,Tỉnh Vĩnh Phúc,28.97,32.66,1006,70,28.97,28.97,5.27,133,9.38,25,802,Clouds,scattered clouds,105.599998,21.299999
2022-11-28 19:00:00,1905856,Tỉnh Vĩnh Phúc,27.97,31.29,1007,75,27.97,27.97,5.05,130,9.63,22,801,Clouds,few clouds,105.599998,21.299999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-05 10:00:00,1559969,Tỉnh Nghệ An,15.61,15.79,1022,98,15.61,15.61,1.13,118,2.19,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 11:00:00,1559969,Tỉnh Nghệ An,15.17,15.30,1022,98,15.17,15.17,1.11,117,2.20,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 12:00:00,1559969,Tỉnh Nghệ An,14.86,14.96,1021,98,14.86,14.86,1.09,114,2.10,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 13:00:00,1559969,Tỉnh Nghệ An,14.58,14.65,1020,98,14.58,14.58,0.94,118,1.85,100,804,Clouds,overcast clouds,104.833328,19.333330
2022-12-05 14:00:00,1559969,Tỉnh Nghệ An,14.40,14.43,1019,97,14.40,14.40,0.89,124,1.67,100,804,Clouds,overcast clouds,104.833328,19.333330